name: PRE-COMMIT

on:
  push:
    branches:
      - master
      - develop
    tags:
      - '*'
  pull_request:
    paths:
      - .github/workflows/PRE-COMMIT-HOOK-TEST.yml
      - .pre-commit-hooks.yaml
      - e2e/pre-commit-hook/*
      - package.json

jobs:
  hook-test:
    runs-on: ubuntu-latest
    name: Test Hook
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install pre-commit
        run: |
          python -m pip install pre-commit
      - name: Test hooks
        run: |
          ./e2e/pre-commit-hook/test.sh
